<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://samsung.com/blindcap" version="1.0.0" viewmodes="maximized">
    <tizen:application id="Houw7zD6tc.blindcap" package="Houw7zD6tc" required_version="2.3.1"/>
    <content src="connect.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="blindcap_bg.png" height="117" width="117"/>
    <name>blindcap</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.admin"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
